# Dependencies
node_modules/
web/node_modules/

# Next.js
web/.next/
web/out/

# Misc
.DS_Store
*.log

# Local env files
.env*.local
web/.env*.local

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
